*{
    margin: 0;
    padding: 0;
}
html{
  background: radial-gradient(at right,#a0ca4b,#115a1c);
  // background: radial-gradient(at right,#0a2e48,#091827);
  // background-position: bottom right;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 8vh;
        margin-top: 2vh;
    }
}
.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .cont{
        img{
            width: 30rem;
            margin-right: 12rem;
            margin-left: 5rem;
        }
    }
    .anim{

        margin-right: 5rem;
        background-image: url('braindark-2.png');
        background-position: center;
        background-size: 450px;
        background-repeat: no-repeat;
        filter: drop-shadow(50px 50px 10px rgba(0,0,0,0.1));
        #blinker{
          animation: blink 2s ease-in-out infinite;
        }
        .snow-sec{
            z-index: -999;
            
        }
        svg{
            width: 600px;
            height: auto;
            transform: scale(1);
            transition: all 0.5s ease-in;
        }
        .img{
          width: 500px;
          height: auto;
      }
    }
}

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }
  
.snow {
    $total: 80;
    position: absolute;
    width: 32px;
    height: 32px;
    // background-image: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    // border-radius: 50%;
    overflow: hidden;
    margin-top: -15vh;
    margin-left: 3rem;
    z-index: -1;
  
    @for $i from 1 through $total {
      $random-x: random(200000) * 0.0001vw;
      $random-offset: random_range(-100000, 100000) * 0.0001vw;
      $random-x-end: $random-x + $random-offset;
      $random-x-end-yoyo: $random-x + ($random-offset / 2);
      $random-yoyo-time: random_range(30000, 80000) / 100000;
      $random-yoyo-y: $random-yoyo-time * 70vh;
      $random-scale: random(10000) * 0.0001;
      $fall-duration: random_range(10, 30) * 1s;
      $fall-delay: random(30) * -1s;
  
      &:nth-child(#{$i}) {
        opacity: random(10000) * 0.0001;
        transform: translate($random-x, -10px) scale($random-scale);
        // transform: translate($random-x, -10px);
        animation: fall-#{$i} $fall-duration $fall-delay linear infinite;

      }
  
      @keyframes fall-#{$i} {
        #{percentage($random-yoyo-time)} {
          transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
        // transform: translate($random-x-end, $random-yoyo-y);
        }
  
        to {
          transform: translate($random-x-end-yoyo, 22vh) scale($random-scale);
        // transform: translate($random-x-end-yoyo, 22vh);
        }
      }
    }
}

@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}